<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.CodeParser" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Data" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Images" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.Layout" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.Navigation" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.RichEdit" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="19.2.7" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="19.2.7" targetFramework="net48" />
</packages>